/* pt-mono-regular - latin_cyrillic */
@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-mono-v7-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-mono-v7-latin_cyrillic-regular.woff") format("woff");
}

/* roboto-condensed-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-condensed-v18-latin_cyrillic-regular.woff") format("woff");
}

/* roboto-condensed-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-condensed-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-condensed-v18-latin_cyrillic-700.woff") format("woff");
}

/* Общие стили, которые влияют и на десктопные разрешения */
$top-background-pic: "../img/top-background.png";

$min-content-width: 1430px;

$button-border-radius: 5px;

$logo-padding-top: 33px;
$logo-padding-left: 8px;

$menu-padding-top: 52px;
$menu-padding-left: 119px;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  flex: 1 0 auto;
}

body {
  min-width: 1920px;
  margin: 0;
  padding: 0;
  font-family: "PT Mono", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: $min-content-width;
  margin-left: auto;
  margin-right: auto;
}

.top-background {
  background: url("../img/top-pcb.svg") calc(50% + 430px) 258px no-repeat, url($top-background-pic) #1b2931;
}

/* header */

.header {
  display: flex;
  min-height: 122px;

  &__top-logo {
    padding-top: $logo-padding-top;
    padding-left: $logo-padding-left;
  }

  &__menu {
    padding-top: $menu-padding-top;
    padding-left: $menu-padding-left;
  }

  &__menu::before {
    content: url("../img/top-menu.svg");
  }
}

.top-logo {
  &__link::before {
    content: url("../img/top-logo.svg");
  }
}

.email {
  padding-top: 50px;
  padding-left: 415px;

  &__link {
    text-decoration: none;
    color: #ffffff;
  }

  &__link::before {
    content: url("../img/email-icon.svg");
    position: relative;
    top: 2px;
    right: 20px;
  }
}

.phone {
  padding-top: 46px;
  padding-left: 104px;

  &__link {
    text-decoration: none;
    color: #ffffff;
  }

  &__link::before {
    content: url("../img/phone-icon.svg");
    position: relative;
    top: 4px;
    right: 16px;
  }
}

.call-order {
  padding-top: 50px;
  padding-left: 50px;

  &__link {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.05em;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 26px 13px 26px;
    border-radius: 5px;
  }
}

/* advertising */

.advertising {
  min-height: 756px;
  position: relative;

  &__pcb {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    padding: 193px 0 0 4px;
  }

  &__pcb-info {
    font-size: 22px;
    line-height: 34px;
    color: #ffffff;
    margin: 0;
    padding: 27px 0 0 101px;
    position: relative;
  }

  &__pcb-info::before {
    content: url("../img/top-bullet.svg");
    position: absolute;
    top: 22px;
    left: 7px;
  }

  &__get-free-cons {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #00b2ff;
    min-width: 407px;
    margin-top: 44px;
    margin-left: 101px;
    padding: 18px 0 18px 0;
    border-radius: $button-border-radius;
    display: inline-block;
  }
}

/* footer */

.footer {
  background: #fafafa;
  min-height: 317px;
  flex: 0 0 auto;

  &__logo {
    padding-top: 65px;
    padding-left: 15px;
  }
}

.footer__top {
  display: flex;
}

.logo {
  &__link::before {
    content: url("../img/bottom-logo.svg");
  }
}

.soc {
  display: flex;
  list-style-type: none;
  margin-top: 49px;
  margin-left: 14px;

  &__link {
    display: inline-block;
    background-color: #cdcdcd;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-right: 16px;
  }
}

.fb::before {
  content: url("../img/facebook.svg");
  position: relative;
  top: 6px;
  left: 6px;
}

.ok::before {
  content: url("../img/odnoklassniki.svg");
  position: relative;
  top: 6px;
  left: 5px;
}

.vk::before {
  content: url("../img/vk.svg");
  position: relative;
  top: 6px;
  left: 5px;
}

.site-sections {
  margin-top: 65px;
  margin-left: 209px;

  &__heading {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.site-sections-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100px;
  margin-top: 25px;
  margin-left: -2px;

  &__link {
    font-size: 15px;
    line-height: 25px;
    color: #1b2d37;
    opacity: 0.5;
    text-decoration: none;
    letter-spacing: 0.03em;
    margin-right: 63px;
  }
}

.contacts {
  margin-top: 65px;
  margin-left: 351px;

  &__heading {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1b2d37;
  }

  &__par {
    font-size: 15px;
    line-height: 25px;
    color: #1b2d37;
    opacity: 0.5;
    margin-top: 25px;
    margin-left: -2px;
  }
}

.bottom {
  display: flex;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;
  text-decoration: none;
  min-height: 52px;
  border-top: 1px solid  #1b2d37;
  width: 1920px;
  margin-top: 58px;
  margin-left: auto;
  margin-right: auto;

  &__copyright {
    margin-top: 14px;
    margin-left: 252px;
  }

  &__copyright-years {
    margin-top: 14px;
    margin-left: 74px;
  }

  &__privacy-terms {
    margin-top: 14px;
    margin-left: 143px;
    text-decoration: none;
    color: #1b2d37;
  }

  &__developed-by {
    margin-top: 14px;
    margin-left: 405px;
    text-decoration: none;
    color: #1b2d37;
  }
}

@media (max-width: 1023px) {
  /* Стили, влияющие на экраны ДО 1023px (Планшет) */
  .header {
    display: flex;

    &__top-logo {
      padding-top: $logo-padding-top;
      padding-left: $logo-padding-left;
    }

    &__top-logo::before {
      content: url("../img/top-logo_tablet.svg");
    }

    &__menu {
      padding-top: $menu-padding-top;
      padding-left: $menu-padding-left;
    }

    &__menu::before {
      content: url("../img/top-menu.svg");
    }
  }
}

@media (max-width: 767px) {
  /* Стили, влияющие на экраны ДО 767px (Мобильные) */
}

