/* pt-mono-regular - latin_cyrillic */
@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-mono-v7-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-mono-v7-latin_cyrillic-regular.woff") format("woff");
}

/* roboto-condensed-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-condensed-v18-latin_cyrillic-regular.woff") format("woff");
}

/* roboto-condensed-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-condensed-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-condensed-v18-latin_cyrillic-700.woff") format("woff");
}

/* Общие стили, которые влияют и на десктопные разрешения */
$top-background-pic: "../img/top-background.png";

$min-content-width: 1430px;

$button-border-radius: 5px;

$logo-padding-top: 33px;
$logo-padding-left: 8px;

$menu-padding-top: 52px;
$menu-padding-left: 119px;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  flex: 1 0 auto;
}

body {
  min-width: 1920px;
  margin: 0;
  padding: 0;
  font-family: "PT Mono", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: $min-content-width;
  margin-left: auto;
  margin-right: auto;
}

.top-background {
  background: url("../img/top-pcb.svg") calc(50% + 430px) 258px no-repeat, url($top-background-pic) #1b2931;
}

/* header */

.header {
  display: flex;
  min-height: 122px;

  &__top-logo {
    padding-top: $logo-padding-top;
    padding-left: $logo-padding-left;
  }

  &__menu {
    padding-top: $menu-padding-top;
    padding-left: $menu-padding-left;
  }

  &__menu::before {
    content: url("../img/top-menu.svg");
  }
}

.top-logo {
  &__link::before {
    content: url("../img/top-logo.svg");
  }
}

.email {
  padding-top: 50px;
  padding-left: 415px;

  &__link {
    text-decoration: none;
    color: #ffffff;
  }

  &__link::before {
    content: url("../img/email-icon.svg");
    position: relative;
    top: 2px;
    right: 20px;
  }
}

.phone {
  padding-top: 46px;
  padding-left: 104px;

  &__link {
    text-decoration: none;
    color: #ffffff;
  }

  &__link::before {
    content: url("../img/phone-icon.svg");
    position: relative;
    top: 4px;
    right: 16px;
  }
}

.call-order {
  padding-top: 50px;
  padding-left: 50px;

  &__link {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.05em;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 26px 13px 26px;
    border-radius: 5px;
  }
}

/* advertising */

.advertising {
  min-height: 756px;
  position: relative;

  &__pcb {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    padding: 193px 0 0 4px;
  }

  &__pcb-info {
    font-size: 22px;
    line-height: 34px;
    color: #ffffff;
    margin: 0;
    padding: 27px 0 0 101px;
    position: relative;
  }

  &__pcb-info::before {
    content: url("../img/top-bullet.svg");
    position: absolute;
    top: 22px;
    left: 7px;
  }

  &__get-free-cons {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #00b2ff;
    min-width: 407px;
    margin-top: 44px;
    margin-left: 101px;
    padding: 18px 0 18px 0;
    border-radius: $button-border-radius;
    display: inline-block;
  }
}

/* footer */

.footer {
  background: #fafafa;
  min-height: 317px;
  flex: 0 0 auto;

  &__logo {
    padding-top: 65px;
    padding-left: 7px;
  }
}

.footer__top {
  display: flex;
}

.logo {
  &__link::before {
    content: url("../img/bottom-logo.svg");
  }
}

.soc {
  display: flex;
  list-style-type: none;
  margin-top: 49px;
  margin-left: 7px;

  &__link {
    display: inline-block;
    background-color: #cdcdcd;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-right: 16px;
  }
}

.fb::before {
  content: url("../img/facebook.svg");
  position: relative;
  top: 6px;
  left: 6px;
}

.ok::before {
  content: url("../img/odnoklassniki.svg");
  position: relative;
  top: 6px;
  left: 5px;
}

.vk::before {
  content: url("../img/vk.svg");
  position: relative;
  top: 6px;
  left: 5px;
}

.site-sections {
  margin-top: 65px;
  margin-left: 209px;

  &__heading {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.site-sections-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100px;
  margin-top: 25px;
  margin-left: -2px;

  &__link {
    font-size: 15px;
    line-height: 25px;
    color: #1b2d37;
    opacity: 0.5;
    text-decoration: none;
    letter-spacing: 0.03em;
    margin-right: 63px;
  }
}

.contacts {
  margin-top: 65px;
  margin-left: 351px;

  &__heading {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1b2d37;
  }

  &__par {
    font-size: 15px;
    line-height: 25px;
    color: #1b2d37;
    opacity: 0.5;
    margin-top: 25px;
    margin-left: -2px;
  }
}

.bottom {
  display: flex;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;
  text-decoration: none;
  min-height: 52px;
  border-top: 1px solid  #1b2d37;
  width: 1920px;
  margin-top: 58px;
  margin-left: auto;
  margin-right: auto;

  &__copyright {
    margin-top: 14px;
    margin-left: 252px;
  }

  &__copyright-years {
    margin-top: 14px;
    margin-left: 74px;
  }

  &__privacy-terms {
    margin-top: 14px;
    margin-left: 143px;
    text-decoration: none;
    color: #1b2d37;
  }

  &__developed-by {
    margin-top: 14px;
    margin-left: 405px;
    text-decoration: none;
    color: #1b2d37;
  }
}

/* about */

.about {
  background: url("../img/Polygon.svg") 299px 46px no-repeat, url("../img/Polygon-1.svg") 1654px 397px no-repeat, url("../img/Group.svg") 98px 444px no-repeat, url("../img/Group-1.svg") 657px 147px no-repeat;
}

.features {
  display: flex;
  flex-wrap: wrap;
  padding-top: 82px;
  padding-left: 129px;

  &__feature {
    position: relative;
    margin-top: 30px;
    margin-right: 30px;
    width: 571px;
    min-height: 299px;
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 3px solid #00b2ff;
    padding-top: 93px;
    padding-left: 42px;
    background-color: #ffffff;
  }

  &__feature:hover {
    cursor: pointer;
    background-color: #00b2ff;
    color: #ffffff;
  }

  &__feature:hover .feature__heading {
    color: #ffffff;
  }
}

.feature {
  &__heading {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #00b2ff;
  }

  &__par {
    font-size: 16px;
    line-height: 22px;
    padding-top: 18px;
    padding-right: 40px;
    letter-spacing: 0.0001em;
  }
}

.feature_deadlines::before {
  content: url("../img/stopwatch.svg");
  color: red;
  position: absolute;
  top: 39px;
  left: 42px;
}

.feature_suppliers::before {
  content: url("../img/hired.svg");
  position: absolute;
  top: 39px;
  left: 42px;
}

.feature_confidentiality::before {
  content: url("../img/detective.svg");
  position: absolute;
  top: 39px;
  left: 42px;
}

.feature_personalization::before {
  content: url("../img/tag.svg");
  position: absolute;
  top: 39px;
  left: 42px;
}

.feature_deadlines:hover::before {
  content: url("../img/stopwatch-hover.svg");
  color: red;
  position: absolute;
  top: 39px;
  left: 42px;
}

.feature_suppliers:hover::before {
  content: url("../img/hired-hover.svg");
  position: absolute;
  top: 39px;
  left: 42px;
}

.feature_confidentiality:hover::before {
  content: url("../img/detective-hover.svg");
  position: absolute;
  top: 39px;
  left: 42px;
}

.feature_personalization:hover::before {
  content: url("../img/tag-hover.svg");
  position: absolute;
  top: 39px;
  left: 42px;
}

.general {
  padding-top: 105px;
  padding-left: 310px;
  padding-bottom: 109px;
  position: relative;

  &__heading {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    color: #666666;
    margin-bottom: 23px;
  }

  &__par {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.0001em;
    padding-right: 140px;

    &_2 {
      padding-top: 19px;
    }
  }
}

.general::before {
  content: url("../img/2005.png");
  position: absolute;
  top: 110px;
  left: 100px;
}

.general__button-details {
  display: inline-block;
  text-decoration: none;
  color: #00b2ff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid #00b2ff;
  padding: 14px 50px 14px 50px;
  border-radius: 5px;
  margin-top: 38px;
  margin-left: -1px;
}

/* services */

.services {
  background-color: #1b2d37;
  padding-bottom: 127px;

  &__services-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 130px;
  }

  &__main-par {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 36px;
    line-height: 51px;
    color: #ffffff;
    width: 100%;
    margin-top: 88px;
  }

  &__service {
    width: 370px;
    height: 620px;
    position: relative;
    margin-top: 52px;
    margin-right: 30px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;

    &_pcb-production {
      background: url("../img/pcb-production.png");
    }

    &_pcb-installation {
      background: url("../img/pcb-installation.png");
    }

    &_lighting-components {
      background: url("../img/lighting-components.png");
    }
  }

  &__service-par {
    display: inline-block;
    width: 160px;
    margin-top: 50px;
    margin-left: 44px;
  }

  &__service-arrow {
    position: absolute;
    left: 307px;
    top: 557px;
    display: inline-block;
    width: 63px;
    height: 63px;
    background-color: #00b2ff;
  }

  &__service-arrow::before {
    content: url("../img/arrow.svg");
    position: absolute;
    left: 31px;
    top: 14px;
  }
}

/* feedback */

.feedback {
  min-height: 670px;
  background: url("../img/point.svg") 247px 94px no-repeat,url("../img/point.svg") 797px 94px no-repeat,url("../img/point.svg") 522px 570px no-repeat,url("../img/point.svg") 196px 293px no-repeat,url("../img/point.svg") 357px 571px no-repeat, url("../img/paper_airplane.svg") 350px 161px no-repeat, url("../img/feedback-polygon-1.svg") 251px 99px no-repeat, url("../img/feedback-polygon-2.svg") 199px 297px no-repeat, #00b2ff;

  &__par-1 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 36px;
    line-height: 51px;
    color: #ffffff;
  }

  &__par-2 {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 4px;
  }

  &__consent-input-label {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }

  &__submit-button {
    background-color: #00b2ff;
    color: #ffffff;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 43px;
    margin-left: 4px;
    padding: 14px 80px 13px 78px;
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
}

.input {
  &_name {
    margin-top: 51px;
    margin-left: 4px;
    padding: 12px 59px 16px 16px;
  }

  &_phone {
    margin-top: 51px;
    margin-left: 31px;
    padding: 12px 57px 16px 17px;
  }

  &_question {
    margin-top: 40px;
    margin-left: 4px;
    padding: 11px 359px 121px 16px;
  }
}

.feedback__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 91px;
  padding-left: 726px;
}

.checkbox-wrapper {
  position: relative;
  width: 300px;
  margin-top: 48px;
  margin-left: 70px;
}

.input_consent + .feedback__consent-input-label::before {
  content: url("../img/checkbox-off.svg");
  position: absolute;
  top: 4px;
  left: -32px;
}

.input_consent:checked + .feedback__consent-input-label::before {
  content: url("../img/checkbox-on.svg");
  position: absolute;
  top: 4px;
  left: -32px;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;

  &__input {
    background-color: #19baff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    border: 0;
  }

  &__input::placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
}

@media (max-width: 1023px) {
  /* Стили, влияющие на экраны ДО 1023px (Планшет) */
  .header {
    display: flex;

    &__top-logo {
      padding-top: $logo-padding-top;
      padding-left: $logo-padding-left;
    }

    &__top-logo::before {
      content: url("../img/top-logo_tablet.svg");
    }

    &__menu {
      padding-top: $menu-padding-top;
      padding-left: $menu-padding-left;
    }

    &__menu::before {
      content: url("../img/top-menu.svg");
    }
  }
}

@media (max-width: 767px) {
  /* Стили, влияющие на экраны ДО 767px (Мобильные) */
}

